.ConfirmBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 360px;
  width: 100%;
  
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 10px 2px #0000003f; */
  box-shadow: 0 0 10px 2px #00000058;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;

  /* background: url('../../../public/images/login/login.jpg') no-repeat center center/cover; */
  /* background: url('../../../public/images/login/signup.jpg') no-repeat center center/cover; */
  /* animation: box-appear .5s 1 ease-in-out; */

  animation-name: box-appear;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes box-appear {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}

.BoxLeave {
  /* animation: box-leave .3s 1 ease-in-out; */
  animation-name: box-leave;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes box-leave {
  0% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50%, -20%, 0);
  }
}

.Title {
  font-size: 24px;
}

.BtnBox {
  display: flex;
  gap: 20px;
}

.Btn {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  background-color: #00000066;
  transition: .3s;
  cursor: pointer;
  line-height: 40px;
  padding: 0 20px;
  user-select: none;
  border-radius: 5px;
  transition: .3s;
}

.Btn:hover {
  opacity: .5;
}

.ConfirmBtn {
  background-color: rgb(255, 50, 50);
}